{% extends "layout.html" %}
 
{% block content %}
  <h2>Password Reset</h2>
 
  {% for message in form.Members_Email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.Temp_Password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
 
  {% for message in form.Members_Password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.confirm.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
 

  <form action="{{ url_for('passwordreset') }}" method=post>
    {{ form.hidden_tag() }}
    
    {{ form.Members_Email.label }}
    {{ form.Members_Email }}  

    {{ form.Temp_Password.label }}
    {{ form.Temp_Password }}
     
    {{ form.Members_Password.label }}
    {{ form.Members_Password }}

    {{ form.confirm.label }}
    {{ form.confirm }}    

    {{ form.submit }}
  </form>
     
{% endblock %}

